<div class="container-fluid page">
    <h1 class="mb-4">Detail Categorie</h1>
    <div class="page__content shadow p-3">
        <div class="container">

            <a href="#" routerLink="/categories" class="btn btn-success mb-3">Retour</a>

            <div class="row">
                <div class="col-md-6">
                    <div class="form-group">
                        <strong class="aa">ID :</strong> {{ categ.id }}
                    </div>

                    <div class="form-group">
                        <strong class="aa">Code :</strong> {{ categ.code }}
                    </div>

                    <div class="form-group">
                        <strong class="aa">Libelle Categorie :</strong> {{ categ.libelle }}
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>